// sass/About.us.scss
@use "./variables" as v;

.about {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: v.$radius;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  line-height: 1.6;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
    color: v.$primary-dark;
  }

  p {
    color: v.$text-dark;
    font-size: 1.1rem;
  }
}
